<a href="https://colab.research.google.com/github/wave010/Dessert-HUB-_DBproject-/blob/main/New_York_City_Airbnb_Market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **New York City Airbnb Market**

dataset : https://www.kaggle.com/datasets/ebrahimelgazar/new-york-city-airbnb-market

**Airbnb** คือ ระบบการจองห้องพักในประเทศต่างๆ ผ่านโลกออนไลน์ โดยผู้ที่ต้องการจองห้องพัก สามารถติดต่อกับผู้ให้บริการที่พักผ่านระบบอินเทอร์เนตได้โดยตรง เช่น ถ้าคุณมีห้องคอนโดว่างๆอยู่ ไม่ได้ใช้ในการอยู่อาศัย หรือ ใครคนอื่นๆเช้าในระยะยาว คุณสามารถสมัครเพื่อเป็นโฮสใน Airbnb ได้ เมื่อมีผู้ที่ต้องการเดินทางมาที่เมืองที่คุณอยู่ แต่อาจจะไม่ต้องการพักในโรงแรม จะสามารถเข้ามาดูข้อมูลในเว็บไซต์ รวมทั้งแอฟลิเคชั่นของ Airbnb ได้ และสามารถติดต่อพุดคุยกับคุณได้โดยตรง เพื่อกำหนดวันที่จะเข้ามาพักได้ด้วยตัวเอง [อ่นเพิ่มเติม](https://www.ananda.co.th/blog/thegenc/start-up-airbnb/)

##***Get data***

In [1]:
!gdown --id 1kg5NnZTtptGrCK8DzYSkl3yo1IXLmwU- #download data file in google drive

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1kg5NnZTtptGrCK8DzYSkl3yo1IXLmwU-
To: /content/NewYorkCity_AirbnbMarket.zip
100% 1.43M/1.43M [00:00<00:00, 126MB/s]

In [2]:
!unzip NewYorkCity_AirbnbMarket.zip # Extract file zip

Archive:  NewYorkCity_AirbnbMarket.zip
  inflating: airbnb_last_review.csv
  inflating: airbnb_price.csv
  inflating: airbnb_room_type.xlsx

**read file**

In [3]:
import pandas as pd

# read csv file to DataFrame
review = pd.read_csv("airbnb_last_review.csv")
price = pd.read_csv("airbnb_price.csv")

# read excel file to DataFrame
roomType = pd.read_excel("airbnb_room_type.xlsx","airbnb_room_type")

In [4]:
print(review.shape) # review DataFrame
review.head()

(25209, 3)

    listing_id    host_name   last_review
0         2595     Jennifer   May 21 2019
1         3831  LisaRoxanne  July 05 2019
2         5099        Chris  June 22 2019
3         5178     Shunichi  June 24 2019
4         5238          Ben  June 09 2019

In [5]:
print(price.shape) # price DataFrame
price.head()

(25209, 3)

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [6]:
print(roomType.shape) # roomType DataFrame
roomType.head()

(25209, 3)

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [7]:
#check column
print(review.columns)
print(price.columns)
print(roomType.columns)

Index([' listing_id', 'host_name', 'last_review'], dtype='object')
Index(['listing_id', 'price', 'nbhood_full'], dtype='object')
Index(['listing_id', 'description', 'room_type'], dtype='object')

In [8]:
#removing space
review.columns = review.columns.str.lstrip()

In [11]:
#check column
print(review.columns)

Index(['listing_id', 'host_name', 'last_review'], dtype='object')

**merge DataFrame**

In [12]:
df_merge = pd.merge(review, price, on='listing_id')
df = pd.merge(df_merge, roomType, on='listing_id')
df.head()

,listing_id,host_name,last_review,price,nbhood_full,description,room_type
0,2595,Jennifer,May 21 2019,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt
1,3831,LisaRoxanne,July 05 2019,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt
2,5099,Chris,June 22 2019,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt
3,5178,Shunichi,June 24 2019,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room
4,5238,Ben,June 09 2019,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt

# **Exploratory Data Analysis (EDA)**

In [13]:
df.shape # check size data

(25209, 7)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
 3   price        25209 non-null  object
 4   nbhood_full  25209 non-null  object
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [15]:
df.isnull().sum() # check null data

listing_id      0
host_name       8
last_review     0
price           0
nbhood_full     0
description    10
room_type       0
dtype: int64

In [16]:
df[df.isnull().any(axis=1)] #show null data

,listing_id,host_name,last_review,price,nbhood_full,description,room_type
263,100184,NaN,July 08 2019,50 dollars,"Queens, Queens Village",Bienvenue,private room
3040,4183989,NaN,May 23 2019,86 dollars,"Manhattan, Harlem",SPRING in the City!! Zen-Style Tranquil Bedroom,Private room
4039,6292866,NaN,June 19 2019,85 dollars,"Brooklyn, East Flatbush",Modern Quiet Gem Near All,entire home/apt
4269,6786181,NaN,June 19 2019,100 dollars,"Brooklyn, East Flatbush",R&S Modern Spacious Hideaway,Entire home/apt
4688,7851219,John,June 18 2019,60 dollars,"Brooklyn, Williamsburg",NaN,PRIVATE ROOM
4690,7854307,John,June 15 2019,60 dollars,"Brooklyn, Williamsburg",NaN,private room
4696,7858673,John,June 08 2019,60 dollars,"Brooklyn, Williamsburg",NaN,Private room
4707,7873655,John,June 21 2019,60 dollars,"Brooklyn, Williamsburg",NaN,PRIVATE ROOM
4709,7886635,John,June 18 2019,60 dollars,"Brooklyn, Williamsburg",NaN,Private room
4717,7901635,John,June 23 2019,60 dollars,"Brooklyn, Williamsburg",NaN,Private room
4829,8192443,John,June 23 2019,60 dollars,"Brooklyn, Williamsburg",NaN,private room
4901,8341556,Gordon M,May 26 2019,55 dollars,"Manhattan, Harlem",NaN,Private room
5496,9698992,Gordon M,June 14 2019,62 dollars,"Manhattan, Harlem",NaN,private room
6338,12113879,NaN,July 02 2019,220 dollars,"Manhattan, Chelsea","Sunny, Large West Village 1 BR Near Everything",Entire home/apt
8060,15648096,NaN,July 07 2019,75 dollars,"Bronx, Highbridge",Spacious 2 bedroom close to Manhattan,Entire home/apt
11986,21733545,Sybilla Michelle,June 30 2019,175 dollars,"Manhattan, Hell's Kitchen",NaN,Private room
12128,21867710,NaN,January 01 2019,120 dollars,"Manhattan, Hell's Kitchen",Amazing room in the centre on Manhatten! Welcome!,Private room
12164,21901156,NaN,January 01 2019,120 dollars,"Manhattan, Hell's Kitchen",Best Deal! Lovely place in Manhattan! Time Squ...,Private room

In [17]:
df.dropna(inplace=True) #drop null data

In [18]:
df.isnull().sum()

listing_id     0
host_name      0
last_review    0
price          0
nbhood_full    0
description    0
room_type      0
dtype: int64

In [19]:
df.shape

(25191, 7)

# **Data Preprocessing**

**price**

In [20]:
#romiving 'dollars' 
df['price'].replace('dollars','',regex=True, inplace=True)

#remove space
df['price'] = df['price'].str.strip()

#change type data
df['price'] = df['price'].astype('int64')

In [37]:
df[df['price'] == 0] #check price == 0

,listing_id,host_name,last_review,price,nbhood_full,description,room_type,city,area
10861,20333471,Anisha,2019-06-24,0,"Bronx, East Morrisania",‚òÖHostel Style Room | Ideal Traveling Buddies‚òÖ,private room,Bronx,East Morrisania
10958,20523843,Martial Loft,2019-05-18,0,"Brooklyn, Bushwick","MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",private room,Brooklyn,Bushwick
11023,20639628,Adeyemi,2019-06-15,0,"Brooklyn, Bedford-Stuyvesant",Spacious comfortable master bedroom with nice ...,private room,Brooklyn,Bedford-Stuyvesant
11024,20639792,Adeyemi,2019-06-21,0,"Brooklyn, Bedford-Stuyvesant",Contemporary bedroom in brownstone with nice view,private room,Brooklyn,Bedford-Stuyvesant
11025,20639914,Adeyemi,2019-06-23,0,"Brooklyn, Bedford-Stuyvesant",Cozy yet spacious private brownstone bedroom,private room,Brooklyn,Bedford-Stuyvesant
11577,21291569,Sergii,2019-06-22,0,"Brooklyn, Bushwick",Coliving in Brooklyn! Modern design / Shared room,shared room,Brooklyn,Bushwick
11589,21304320,Sergii,2019-05-24,0,"Brooklyn, Bushwick",Best Coliving space ever! Shared room.,shared room,Brooklyn,Bushwick

In [38]:
df[df['price'] == 0] = df['price'].mean() # Fill in the data using averages.

**last_review**

In [21]:
# convert the 'last_review' column to datetime format
df['last_review']= pd.to_datetime(df['last_review']) # yyyy-mm-dd

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25191 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25191 non-null  int64
 1   host_name    25191 non-null  object
 2   last_review  25191 non-null  datetime64[ns]
 3   price        25191 non-null  int64
 4   nbhood_full  25191 non-null  object
 5   description  25191 non-null  object
 6   room_type    25191 non-null  object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 1.5+ MB

**new column ['city' , 'area'] from nbhood_full (neighborhood area name)**

In [23]:
# new column 'city' 
df['city'] = df['nbhood_full'].str.extract('(^.{1,},)') # select regular expression to new column 'city'
df['city'].replace(',','',regex=True, inplace=True) # replace ',' to space
df['city'] = df['city'].str.strip() # Remove spaces 

# new column 'area'
df['area'] = df['nbhood_full'].str.extract('(, .{1,})') # select regular expression to new column 'area'
df['area'].replace(',','',regex=True, inplace=True) # replace ',' to space
df['area'] = df['area'].str.strip() # Remove spaces

In [24]:
df['city'].sort_values().unique()

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'Staten Island Bay Terrace'], dtype=object)

In [25]:
df['area'].sort_values().unique()

array(['Allerton', 'Arden Heights', 'Arrochar', 'Arverne', 'Astoria',
       'Bath Beach', 'Battery Park City', 'Bay Ridge', 'Bay Terrace',
       'Bay Terrace Staten Island', 'Baychester', 'Bayside', 'Bayswater',
       'Bedford-Stuyvesant', 'Belle Harbor', 'Bellerose', 'Belmont',
       'Bensonhurst', 'Bergen Beach', 'Boerum Hill', 'Borough Park',
       'Breezy Point', 'Briarwood', 'Brighton Beach', 'Bronxdale',
       'Brooklyn Heights', 'Brownsville', "Bull's Head", 'Bushwick',
       'Cambria Heights', 'Canarsie', 'Carroll Gardens', 'Castle Hill',
       'Castleton Corners', 'Chelsea', 'Chinatown', 'City Island',
       'Civic Center', 'Claremont Village', 'Clason Point', 'Clifton',
       'Clinton Hill', 'Co-op City', 'Cobble Hill', 'College Point',
       'Columbia St', 'Concord', 'Concourse', 'Concourse Village',
       'Coney Island', 'Corona', 'Crown Heights', 'Cypress Hills',
       'DUMBO', 'Ditmars Steinway', 'Dongan Hills', 'Douglaston',
       'Downtown Brooklyn', 'Dyker Heights', 'East Elmhurst',
       'East Flatbush', 'East Harlem', 'East Morrisania', 'East New York',
       'East Village', 'Eastchester', 'Edenwald', 'Edgemere', 'Elmhurst',
       'Eltingville', 'Emerson Hill', 'Far Rockaway', 'Fieldston',
       'Financial District', 'Flatbush', 'Flatiron District', 'Flatlands',
       'Flushing', 'Fordham', 'Forest Hills', 'Fort Greene',
       'Fort Hamilton', 'Fresh Meadows', 'Glendale', 'Gowanus',
       'Gramercy', 'Graniteville', 'Grant City', 'Gravesend',
       'Great Kills', 'Greenpoint', 'Greenwich Village', 'Grymes Hill',
       'Harlem', "Hell's Kitchen", 'Highbridge', 'Hollis', 'Holliswood',
       'Howard Beach', 'Howland Hook', 'Huguenot', 'Hunts Point',
       'Inwood', 'Jackson Heights', 'Jamaica', 'Jamaica Estates',
       'Jamaica Hills', 'Kensington', 'Kew Gardens', 'Kew Gardens Hills',
       'Kingsbridge', 'Kips Bay', 'Laurelton', 'Lighthouse Hill',
       'Little Italy', 'Little Neck', 'Long Island City', 'Longwood',
       'Lower East Side', 'Manhattan Beach', 'Marble Hill',
       'Mariners Harbor', 'Maspeth', 'Melrose', 'Middle Village',
       'Midland Beach', 'Midtown', 'Midwood', 'Mill Basin',
       'Morningside Heights', 'Morris Heights', 'Morris Park',
       'Morrisania', 'Mott Haven', 'Mount Eden', 'Mount Hope',
       'Murray Hill', 'Navy Yard', 'Neponsit', 'New Brighton',
       'New Dorp Beach', 'New Springville', 'NoHo', 'Nolita',
       'North Riverdale', 'Norwood', 'Oakwood', 'Olinville', 'Ozone Park',
       'Park Slope', 'Parkchester', 'Pelham Bay', 'Pelham Gardens',
       'Port Morris', 'Port Richmond', "Prince's Bay", 'Prospect Heights',
       'Prospect-Lefferts Gardens', 'Queens Village', 'Randall Manor',
       'Red Hook', 'Rego Park', 'Richmond Hill', 'Richmondtown',
       'Ridgewood', 'Riverdale', 'Rockaway Beach', 'Roosevelt Island',
       'Rosebank', 'Rosedale', 'Rossville', 'Schuylerville', 'Sea Gate',
       'Sheepshead Bay', 'Shore Acres', 'Silver Lake', 'SoHo',
       'Soundview', 'South Beach', 'South Ozone Park', 'South Slope',
       'Springfield Gardens', 'Spuyten Duyvil', 'St. Albans',
       'St. George', 'Stapleton', 'Stuyvesant Town', 'Sunnyside',
       'Sunset Park', 'Theater District', 'Throgs Neck', 'Todt Hill',
       'Tompkinsville', 'Tottenville', 'Tremont', 'Tribeca',
       'Two Bridges', 'Unionport', 'University Heights',
       'Upper East Side', 'Upper West Side', 'Van Nest', 'Vinegar Hill',
       'Wakefield', 'Washington Heights', 'West Brighton', 'West Farms',
       'West Village', 'Westchester Square', 'Whitestone',
       'Williamsbridge', 'Williamsburg', 'Willowbrook', 'Windsor Terrace',
       'Woodhaven', 'Woodlawn', 'Woodside'], dtype=object)

In [26]:
df.head()

,listing_id,host_name,last_review,price,nbhood_full,description,room_type,city,area
0,2595,Jennifer,2019-05-21,225,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Manhattan,Midtown
1,3831,LisaRoxanne,2019-07-05,89,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,Brooklyn,Clinton Hill
2,5099,Chris,2019-06-22,200,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Manhattan,Murray Hill
3,5178,Shunichi,2019-06-24,79,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Manhattan,Hell's Kitchen
4,5238,Ben,2019-06-09,150,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Manhattan,Chinatown

In [27]:
df.isnull().sum()

listing_id     0
host_name      0
last_review    0
price          0
nbhood_full    0
description    0
room_type      0
city           0
area           0
dtype: int64

**room_type**

In [28]:
df['room_type'].sort_values().unique()

array(['ENTIRE HOME/APT', 'Entire home/apt', 'PRIVATE ROOM',
       'Private room', 'SHARED ROOM', 'Shared room', 'entire home/apt',
       'private room', 'shared room'], dtype=object)

In [29]:
df['room_type'] = df['room_type'].str.lower() # change value to lower case

In [30]:
df['room_type'].sort_values().unique()

array(['entire home/apt', 'private room', 'shared room'], dtype=object)

**check duplicated**

In [34]:
df[df.duplicated()] # no duplicate values

Empty DataFrame
Columns: [listing_id, host_name, last_review, price, nbhood_full, description, room_type, city, area]
Index: []

In [35]:
df.head()

,listing_id,host_name,last_review,price,nbhood_full,description,room_type,city,area
0,2595,Jennifer,2019-05-21,225,"Manhattan, Midtown",Skylit Midtown Castle,entire home/apt,Manhattan,Midtown
1,3831,LisaRoxanne,2019-07-05,89,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,entire home/apt,Brooklyn,Clinton Hill
2,5099,Chris,2019-06-22,200,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,entire home/apt,Manhattan,Murray Hill
3,5178,Shunichi,2019-06-24,79,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Manhattan,Hell's Kitchen
4,5238,Ben,2019-06-09,150,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,entire home/apt,Manhattan,Chinatown

# **Visualization**